.App {
  text-align: center;
}

.active {
  font-weight: 600;
  color: red;
}

/* .navbar{
  >ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    >li>a{
      text-decoration: none;
      color: #3d3d3d;
    }
  }
} */

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.navbar ul li a {
  text-decoration: none;
  color: #3d3d3d;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  margin: 1rem 2rem;
  padding: 1rem;
}